#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;

  .container {
    background-color: aquamarine;
    text-align: center;
    width: 80%;
    margin: 0 auto;

    .show {
      cursor: pointer;
      border: 1px solid black;
    }

    .card {
      border: 1px solid black;
      margin: 10px;

      .username {
        color: blueviolet;
      }
    }
  }
}